.jumbotron {
  padding-top: 6rem;
  background-color: #ce998763;
}

#projects {
  background-color: #ce998763;
}

section {
  padding-top: 5rem;
}

.nav-color {
  background-color: #583225;
  opacity: 50;
}

.btn-color {
  background-color: #dd937b;
}

.bg-color {
  padding-top: 2rem;
  background-color: #583225;
  opacity: 50;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

.btn-social {
  border-radius: 100%;
  display: inline-flex;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
}


element.style {
}
.btn-social {
    border-radius: 100%;
    display: inline-flex;
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
}
.mx-1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
}
.btn-outline-my {
    color: #000000;
    border-color: #000000;
}

.btn-outline-my:hover {
  background-color: #583225;
  color: #ffffff;
  border-color: #ffffff;
}